{% extends "@Admin/layout.html.twig" %}

{% block js %}
    <script src="{{ asset('vendor/jquery-ui/ui/widgets/sortable.js') }}"></script>
    <script src="{{ asset('bundles/admin/CmsPage/js/cms_page_form.min.js') }}"></script>
{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.isActive) }}
    {% if form.mainImageFile is defined %}
        {{ form_row(form.mainImageFile) }}
        {% if cmsPage is defined and cmsPage.mainImage  %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_page/main_image/' ~ cmsPage.mainImage) }}&w=300">
                </div>
            </div>
        {% endif %}
    {% endif %}

    {{ form_widget(form.translations) }}

    {% if cmsPage is defined %}
        {#
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <strong>Galeria</strong>
            </div>
            <div class="col-sm-10">
                <div class="uploadify-input">
                    <input type="file" name="photo_gallery_file" id="photo_gallery_file" />
                </div>
                <div class="uploadify-files-wrapper">
                    {% include '@Admin/_Common/partials/form/form_files_list.html.twig' with {'entity': cmsPage, 'files': images} %}
                </div>
            </div>
        </div>
        #}
    {% endif %}

    {% include '@Admin/_Common/partials/form_submit.html.twig' %}
    {{ form_end(form) }}

    {% if cmsPage is defined %}
        {% include '@Admin/CmsPage/form/cms_page_uploadify_script.html.twig' %}
    {% endif %}


{% endblock %}


