{% extends 'AdminBundle::layout.html.twig' %}

{% block js %}
    {#<script src="{{ asset('bundles/rs/RsMeal/js/rs_meal.min.js') }}"></script> #}
{% endblock %}

{% block content %}
    <a href="{{ path('cms_page_background_add') }}" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Dodaj nowy obraz tła strony
    </a>

    <hr/>

    <div class="panel panel-primary">
        <div class="panel-heading text-uppercase">
            <span class="glyphicon glyphicon-cog"></span>&nbsp;<b>Ustawienia</b>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_row(form.pageBackgroundDelay) }}
            {% include '@Admin/_Common/partials/form_submit.html.twig' with {'positionRelative': true} %}
            {{  form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}




{% block datagrid %}
    {{ grid(grid) }}
{% endblock %}