{# @var article \AdminBundle\Entity\CmsArticle #}

{# @var pageEvents \AdminBundle\Entity\CmsStaticPage #}
{% set pageEvents = pages['events']  %}
<header>
    <h2 class="page-title-header">{{ pageEvents.getTitle()| raw }}</h2>
</header>
<article class="text-justify">
    {{ pageEvents.getDescription()| raw }}
</article>

{# gallery #}
{% set imgFiles = pageEvents.filesByType('img') %}
{% if imgFiles is not empty %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 gallery-files-wrapper">
            {% for file in imgFiles %}
                <a href="{{ asset(pageEvents.filesDir ~ file.fileName)  }}">
                    <img src="{{ asset('thumb.php') }}?src={{ asset(pageEvents.filesDir ~ file.fileName)  }}&w=169&h=160" class="gallery-file img-thumbnail img-responsive">
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}

{# docs #}
{#
{% set docFiles = pageEvents.filesByType('doc') %}
{% if docFiles is not empty %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10">
            <table class="table table-hover">
                {% for file in docFiles %}
                    <tr>
                        <td>
                            <div class="file-icon">
                                <span class="glyphicon glyphicon-file"></span>
                            </div>
                        </td>
                        <td>
                            {{ file.fileName| slice(0, -18)  }}
                        </td>
                        <td>
                            {{ file.extension }}
                        </td>
                        <td>
                            <a href="{{ asset(pageEvents.filesDir ~ file.fileName)  }}" class="btn btn-sm btn-default pull-right" target="_blank">
                                Pobierz
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
#}


{#<header>
    <h2 class="page-title-header">Wydarzenia</h2>
</header>
<div class="events-wrapper">
    {% if events is not empty %}
        <div class="row">
        {% for article in events %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="article article-event">
                    {% if article.date is not null %}
                        <div class="event-date">
                            <span class="glyphicon glyphicon-calendar"></span>&nbsp
                            {{ article.date.format('d') }}&nbsp;{{ ('calendar.month_' ~ article.date.format('n'))| trans }}&nbsp;
                            {{ article.date.format('Y') }}
                        </div>
                    {% endif %}
                    <div class="article-title event-title">
                        <a href="{{ path('article_details_events', {'slug': article.slug})  }}">{{ article.title| raw }}</a>
                    </div>
                    <div class="article-description event-description">
                        {% if article.mainImage is not empty %}
                            <img src="{{ asset('thumb.php') }}?src={{ asset(article.mainImageDir ~ article.mainImage) }}&w=150&h=150" class="article-image">
                        {% endif %}
                        {{ article.description| striptags| raw| slice(0, 256) }}...
                    </div>
                    <div class="article-more-btn">
                        <a href="{{ path('article_details_events', {'slug': article.slug})  }}" class="btn btn-default pull-right">Czytaj Więcej</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div> #}