{% extends '@Admin/layout.html.twig' %}

{% block form %}

    {% if app.session.flashBag.get('default_password_change_required') %}
        <div class="alert alert-info">Zmień swoje domyślne hasło konta</div>
    {% endif %}

    {% if app.session.flashBag.get('password_change_success') %}
        <div class="alert alert-success">{{ 'msg.password_was_changed'| trans }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.oldPassword, {'label': 'lbl.old_password'| trans}) }}
        {{ form_row(form.newPassword.first, {'label': 'lbl.new_password'| trans}) }}
        {{ form_row(form.newPassword.second, {'label': 'lbl.new_password_repeat'| trans}) }}
        {{ form_row(form.save, {'label': 'lbl_save'| trans}) }}
    {{ form_end(form) }}

{% endblock %}